<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @project.text %>
</p>


<% @project.images.each do |image| %>
  <%= image_tag (image.url)%>
  <%end%>
<%= link_to 'Edit', edit_project_path(@project) %>