<% provide(:title, t("title.projects")) %>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @project.text %>
</p>


<% @project.images.each do |image| %>
  <%= image_tag (image.url)%>
  <%end%>

 


<%= link_to 'Edit', edit_project_path(@project) %>