<% provide(:title,"Contact") %>
<div class="all-projects">
<p class="serif-type"> <%= t("contact.concept") %></p>
<p class="sans-type"> <%= t("contact.concept_html") %></p>

<p class="serif-type"> <%= t("contact.designer") %></p>
</div>