/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.active{
  border-bottom: 1px solid white;
}
 @import 'variables';

 html{height: 100%;}
 body{
   cursor: url(new-stroke.png), default;
     background-color: black;
     margin:0;
     padding: 0;
    color: $hx-grey

    }


.footer{
  height: 90px;
}
.main-container{
    width:1200px;
    margin: 0 auto;
}
.navigation{
    width: 1200px;
    margin: 0 auto;
    right: 0;
    left: -1px;
    top:0px;
    padding-bottom: 20px;
    padding-top: 80px;
    background-color: black;
    position: fixed;
    font-family: 'Untitled Sans';
    color: $hx-grey;
    font-size: .9em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    list-style-type: none;text-transform: uppercase;

    a{text-decoration: none; color:$hx-grey;  cursor:url(new-fill.png) , pointer;
}
  .bigger{padding-top: 5px; padding-bottom: 5px;}
  .active{
    color:white;
    border-bottom: 1px solid white;
  }
  #on-load{
    color:white;
    border-bottom: 1px solid white;
  }

    #heterodox-logo{width:350px;cursor:url('new-fill.png') , pointer;};

    .nav-items{
        justify-self: end;
        display: grid;
        grid-template-columns: repeat(6,auto);
        grid-gap: 20px;
        cursor:url('new-fill.png') , pointer;
        padding: 10px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    #versions-arrow{width:10px;margin-left: 5px;}
    #versions-odin{position: absolute;display:none;}

}

.subtitle{
  position: absolute;
  background-color: black;
  padding-right: 100px;
 .explain{margin-bottom: 10px; margin-top: 15px;}
  text-transform: none;
  color: black;
  .white-bg{
    background-color: white;
    display: inline-block;
    margin: 0px;
    padding: 1px;
      .latin{font-family: "Serif Italic"; font-size: 1.1em;}
      .serif{font-family: "Untitled Serif"; font-size: 1.2em;}
  }
}

.special-cursor{
  cursor:url('new-fill.png') , pointer;
  padding: 10px;
  padding-bottom: 0px;
}
