@import 'variables';

.m-navigation{
  font-family: 'Untitled Sans';
  color: $hx-grey;
  font-size: 1em;
  list-style-type: none;text-transform: uppercase;
  margin-left:20px;
  margin-right: 20px;
padding-top: 30px;
  padding-bottom:10px;
  top:0px;
  left:0px;
  right:0px;
  position: fixed;
  background-color: black;



    a{text-decoration: none; color:$hx-grey;  cursor:url(new-fill.png) , pointer;}
  .m-logo{
  display: grid;
  align-items:end;
  grid-template-columns: 70% 30%;
  #heterodox-logo{width:200px;}
  #hamburger{width: 20px;}
  .hamburger{justify-self: end;}
  #closing  {width: 15px;}
  .closing  {justify-self: end;}
  }
  .m-lang >*{border: none; padding-right:5px; }
  .m-bigger{padding-left: 5px;}
  .nav-items{margin-top: 50px; display: none;}
  .nav-items > *{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted $hx-grey;

  }

}

.m-main-container{
margin-left:20px;
margin-right: 20px;

}

.m-projects a{
  border-bottom:none;
}
.m-p-text{
    margin-top: 8px;
    font-family: "Untitled Sans";
    text-transform: none;
    font-size: .9em;
    color:white;
  width: 320px;
  p{
  display: inline;
  padding: 4px;
  line-height: 23px;
  background-color:black;
  box-decoration-break: clone;
  }
  }


/////// ALL Projects /////

.m-all-projects {
    margin-top: 100px;

}

//////show///

.m-show-title{
    font-family: "Untitled Serif";
    text-transform: capitalize;
    font-size: 2em;
    color: white;

}

.m-show-body{
    margin-top: 20px;
    font-family: "Untitled Sans";
    text-transform: none;
    color: white;
    font-size:1em;
    width: 320px;
}

.horizontal {
  margin-top: 70px;
  overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;}
a{
.hori-pro{
  display: inline-block;
  color: $hx-grey;
  font-family: "Untitled Sans";
  font-size: 17px;
  padding: 30px;
  text-transform: capitalize;

}}}

.horizontal{a{&:first-child{.hori-pro{margin-left: 0px; padding-left: 0px;}}}}
.horizontal{a{&:last-child{.hori-pro{margin-right: 60px; }}}}

.prodots{
  margin-top: -20px;
  display: flex; flex-direction: row;  justify-content: center;}
.dot{
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: $hx-grey;
  margin: 5px;
}


.no-scroll {
position:fixed;
margin: 0 auto;
bottom:0px;
left:0px;
right:0px;
width:100%;
color: white;
background-color: black;
// height: 30px;
align-items: center;
border-top:1px dotted $hx-grey;
display: grid;
grid-template-columns: 1fr 1fr;
height: 50px;
.tiny-arrow{justify-self:end; padding-right: 40px;}
#tiny-arrow{height: 8px}
.fixed-accueil{font-family: "Untitled Sans";font-size: 17px; a{color: $hx-grey; text-decoration: none;}; margin-left: 20px;}
}

.text-inside{
  width: 200px;
}
