// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

////////////////////index////////////////

.p-index{margin-top: 70px;
display: grid;
grid-template-columns: 1fr;
}

.p-title{
    font-family: "Untitled Serif";
    text-transform: capitalize;
    font-size: 1.5em;
    color: white;
}
