// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.serif-type{
    font-family: "Untitled Serif";
    font-size: 1.6em;
    color: white;
}
.sans-type{
    font-family: "Untitled Sans";
    font-size: .9em;
    color: white;
}